.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 938px;
}

.u-section-1 .u-shape-1 {
  width: 723px;
  height: 647px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 663px;
  height: 509px;
  margin: -647px 30px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 510px;
  margin: -201px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 8.125rem;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 20px 45px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 555px;
    height: 511px;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 437px;
    margin-top: -511px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-1 .u-shape-1 {
    width: 449px;
    height: 413px;
  }

  .u-section-1 .u-image-1 {
    width: 408px;
    height: 293px;
    margin-top: -374px;
  }

  .u-section-1 .u-group-1 {
    min-height: 442px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-shape-1 {
    width: 419px;
    height: 385px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -346px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-shape-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
    margin-top: -283px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 497px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1415px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 524px;
  margin: 12px auto 0;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 1057px;
  margin: 43px auto 0 43px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 91px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 58px 60px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 616px;
  height: 410px;
  margin: -1057px auto 0 479px;
}

.u-section-2 .u-list-1 {
  width: 616px;
  margin: 30px auto 0 479px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 500px;
  grid-gap: 32px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-18 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-2 .u-text-19 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-20 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-2 .u-text-21 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-22 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-2 .u-text-23 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-24 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-2 .u-text-25 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 42px auto 76px 479px;
  padding: 14px 220px 15px 218px;
}

.u-section-2 .u-icon-5 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-group-1 {
    width: 349px;
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-2 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-2 .u-image-1 {
    width: 551px;
    height: 412px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 551px;
    margin-top: 42px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 0;
  }

  .u-section-2 .u-text-20 {
    margin-top: 0;
  }

  .u-section-2 .u-text-22 {
    margin-top: 0;
  }

  .u-section-2 .u-text-24 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-5 {
    padding-right: 187px;
    padding-left: 186px;
    margin: 36px 0 114px auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2400px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 1121px;
    min-height: 1003px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 451px;
    margin-top: -2084px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 425px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 43px;
    margin-left: 0;
    margin-bottom: 1123px;
    padding-right: 271px;
    padding-left: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2350px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 1071px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-17 {
    margin-right: 60px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -2035px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-2 .u-btn-5 {
    padding-top: 13px;
    padding-right: 182px;
    padding-left: 180px;
    margin: 26px auto 1109px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2239px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 51px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1952px;
    object-position: 74.14% 0%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-19 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-23 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-25 {
    font-size: 3rem;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1103px;
    padding-right: 81px;
    padding-bottom: 14px;
    padding-left: 81px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 881px;
}

.u-section-3 .u-group-1 {
  width: 445px;
  min-height: 386px;
  margin: 107px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 26px 30px;
}

.u-section-3 .u-shape-1 {
  width: 366px;
  height: 315px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -286px auto 0 54px;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0 54px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  width: 695px;
  margin: -433px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 481px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 2px 10px;
}

.u-section-3 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/pexels-photo-2659177.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 2px 10px;
}

.u-section-3 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/pexels-photo-709802.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 2px 10px;
}

.u-section-3 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/grayscale-photography-of-woman-wearing-coat-and-fedora-hat-2947337.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 2px 10px;
}

.u-section-3 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-54861991.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 2px 10px;
}

.u-section-3 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-733500.jpg");
  background-position: 50% 9.85%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 2px 10px;
}

.u-section-3 .u-image-6 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-8640124.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-14 {
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -287px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 702px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -262px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 397px;
  }

  .u-section-3 .u-shape-1 {
    width: 320px;
    margin-top: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -337px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 355px;
  background-image: url("images/pexels-photo-929282.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 683px;
  left: 0;
  right: auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 241px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 241px;
  background-image: url("images/pexels-photo-7275452.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 241px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 6rem;
}

.u-section-4 .u-image-4 {
  min-height: 481px;
  background-image: url("images/pexels-photo-5486199.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 199px;
  }

  .u-section-4 .u-image-3 {
    min-height: 199px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 199px;
  }

  .u-section-4 .u-image-4 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-4 .u-image-1 {
    min-height: 224px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-4 .u-image-3 {
    min-height: 229px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    min-height: 912px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2090px;
  }

  .u-section-4 .u-image-1 {
    min-height: 504px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-4 .u-image-2 {
    width: 433px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 684px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-4 .u-image-2 {
    width: 280px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-4 .u-image-3 {
    min-height: 217px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-4 {
    min-height: 431px;
  }
}